.card {
    max-width: 350px;
    height: 400px;
    display: flow-root;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow:#b61467;
    border-style: double;
    border-color: #b61467;
    padding-left: 25px;
    padding-right: 25px;

    .card-description {
        color: #b61467 ;
        margin: 20px 10px;
    }
    .actions {
        border-top: 1px solid #b61467;
        background-color: beige;
        color: #b61467;
        padding: 10px;
    }
    .add-to-cart {
        color: #b61467 !important;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.card:hover {
    box-shadow: 10px 10px 10px #b61467;
}