.card {
    max-width: 350px;
    height: 400px;
    display: flow-root;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow:#6b1467;
    border-style: double;
    border-color: #6b1467;
    padding-left: 25px;
    padding-right: 25px;

    
}
.card-description {
    color: #6b1467 ;
    margin: 20px 10px;
}
.actions {
    border-top: 1px solid #6b1467;
    background-color: beige;
    color: #6b1467;
    padding: 10px;
}
.add-to-cart {
    color: #6b1467 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover {
    box-shadow: 10px 10px 10px #6b1467;
}